## Land Cover Data

**Author**: Michelle Sims

**Date:** 11/24/20

**Data Source:** USGS National Land Cover Database

**Description:** NLCD is generated in cooperation with the Multi-Resolution Land Characteristics Consortium (MRLC) a partnership of Federal agencies working together to produce current, nationally consistent, land cover products for all 50 states and Puerto Rico. NLCD is used for thousands of applications that require information on landcover location or where it is changing.

The National Land Cover Database (NLCD) provides nationwide data on land cover and land cover change at a 30m resolution with a 16-class legend based on a modified Anderson Level II classification system. NLCD 2016 represents the latest evolution of NLCD land cover products focused on providing innovative land cover and land cover change data for the Nation.

**Source Link**: https://www.mrlc.gov/data?f%5B0%5D=category%3Aland%20cover&f%5B1%5D=year%3A2016

In [3]:
#Dependencies
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import rasterio
from rasterio.features import rasterize
import rasterio.transform
import rasterio.mask
import rasterio.warp
import rasterio.windows
import rioxarray as rxr
from pyproj import CRS
import pyproj
import sys
import xarray as xr
import os

In [4]:
#Set data directory
datadir = os.sep.join(['Data/'])

### Import Data

In [3]:
filepath = os.sep.join([datadir, 'CH4_Emitters_All.geojson'])

In [4]:
#Import data on VISTA Emitter Points
ch4_emitters = gpd.read_file(filepath)

In [5]:
#Check Data
ch4_emitters.head()

,City,Latitude,Longitude,Source,State,Vista_Date,Vista_IPCC,Vista_Name,Vista_SType,Vista_ID,TROPOMI_CH4_Min,TROPOMI_CH4_Max,TROPOMI_CH4_Mean,TROPOMI_CH4_Count,TROPOMI_CH4_MEDIAN,County,geometry
0,Oakdale,37.72799,-120.89865,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"3D Ag, LLC",Composting Sites,CMP000001,1866.219667,1869.152088,1867.685878,2,1867.685878,None,"POLYGON ((-120.90558 37.82784, -120.89172 37.8..."
1,Lake Elsinore,33.70999,-117.32864,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"A. Lua Recycling, Inc.",Composting Sites,CMP000002,1875.187369,1880.163061,1877.675215,2,1877.675215,None,"POLYGON ((-117.33593 33.80981, -117.32135 33.8..."
2,Martinez,38.01667,-122.13333,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Acme Composting Compost Facility,Composting Sites,CMP000003,1842.263902,1845.817238,1844.040570,2,1844.040570,None,"POLYGON ((-122.14023 38.11652, -122.12643 38.1..."
3,Los Angeles (City),34.03281,-118.35424,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Adams Garden Supply,Composting Sites,CMP000004,1854.870680,1895.935669,1880.347071,3,1890.234865,None,"POLYGON ((-118.36150 34.13264, -118.34698 34.1..."
4,Hesperia,34.44517,-117.29007,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Advance Disposal Center for the Environm,Composting Sites,CMP000005,1867.374578,1868.685923,1868.030250,2,1868.030250,None,"POLYGON ((-117.29730 34.54500, -117.28284 34.5..."

In [20]:
#Look at geometry shape
ch4_emitters['geometry'][18000]

In [6]:
#Check CRS
ch4_emitters.crs

{'init': 'epsg:4326'}

### Extracting Land Cover Classifications

Unfortunately, due to the large size of the land cover file, it kept killing my kernel on python. So I calculated these zonal statistics and zonal histogram in QGIS, following the steps below. 

**Steps:**

1. Load Land Cover data for California. The Raster is in Albers projection, and the CRS was not recognized by QGIS. I first assigned a projection to the data layer (Raster > Projections > Assign Projection), and assigned it EPSG:5070 (NAD83 Conus Albers). 
2. I then reprojected it to WGS 84 (Raster > Projections > Warp). I used the Nearest neighbor resampling method. 
3. Load CH4 Emitter dataset, which contains polygons specifying the location of emitters from the VISTA dataset. 
4. I used the zonal statistics algorithm, which calculates the statistics of a raster layer for each feature of an overlapping polygon layer. I used this to calculate the majority pixel value within the polygon (i.e. majority land use classification within the polygon). 
5. I used the zonal histogram algorithm to calculate the count of each unique value from the land cover raster layer contained within the CH4 emitter polygons. This will tell us the proportion of each land use type within each polygon.

#### Land Cover Classifications:

Source Link: https://www.mrlc.gov/data/legends/national-land-cover-database-2016-nlcd2016-legend

11: Open Water- areas of open water, generally with less than 25% cover of vegetation or soil. <br>

12: Perennial Ice/Snow- areas characterized by a perennial cover of ice and/or snow, generally greater than 25% of total cover. <br>

21: Developed, Open Space- areas with a mixture of some constructed materials, but mostly vegetation in the form of lawn grasses. Impervious surfaces account for less than 20% of total cover. These areas most commonly include large-lot single-family housing units, parks, golf courses, and vegetation planted in developed settings for recreation, erosion control, or aesthetic purposes. <br>

22: Developed, Low Intensity- areas with a mixture of constructed materials and vegetation. Impervious surfaces account for 20% to 49% percent of total cover. These areas most commonly include single-family housing units. <br>

23: Developed, Medium Intensity -areas with a mixture of constructed materials and vegetation. Impervious surfaces account for 50% to 79% of the total cover. These areas most commonly include single-family housing units. <br>

24: Developed High Intensity-highly developed areas where people reside or work in high numbers. Examples include apartment complexes, row houses and commercial/industrial. Impervious surfaces account for 80% to 100% of the total cover. <br>

31: Barren Land (Rock/Sand/Clay) - areas of bedrock, desert pavement, scarps, talus, slides, volcanic material, glacial debris, sand dunes, strip mines, gravel pits and other accumulations of earthen material. Generally, vegetation accounts for less than 15% of total cover. <br>

41: Deciduous Forest- areas dominated by trees generally greater than 5 meters tall, and greater than 20% of total vegetation cover. More than 75% of the tree species shed foliage simultaneously in response to seasonal change. <br>

42: Evergreen Forest- areas dominated by trees generally greater than 5 meters tall, and greater than 20% of total vegetation cover. More than 75% of the tree species maintain their leaves all year. Canopy is never without green foliage. <br>

43: Mixed Forest- areas dominated by trees generally greater than 5 meters tall, and greater than 20% of total vegetation cover. Neither deciduous nor evergreen species are greater than 75% of total tree cover. <br>

51: Dwarf Scrub- Alaska only areas dominated by shrubs less than 20 centimeters tall with shrub canopy typically greater than 20% of total vegetation. This type is often co-associated with grasses, sedges, herbs, and non-vascular vegetation. <br>

52: Shrub/Scrub- areas dominated by shrubs; less than 5 meters tall with shrub canopy typically greater than 20% of total vegetation. This class includes true shrubs, young trees in an early successional stage or trees stunted from environmental conditions. <br>

71: Grassland/Herbaceous- areas dominated by gramanoid or herbaceous vegetation, generally greater than 80% of total vegetation. These areas are not subject to intensive management such as tilling, but can be utilized for grazing. <br>

72: Sedge/Herbaceous- Alaska only areas dominated by sedges and forbs, generally greater than 80% of total vegetation. This type can occur with significant other grasses or other grass like plants, and includes sedge tundra, and sedge tussock tundra. <br>

73: Lichens- Alaska only areas dominated by fruticose or foliose lichens generally greater than 80% of total vegetation. <br>

74: Moss- Alaska only areas dominated by mosses, generally greater than 80% of total vegetation. <br>

81: Pasture/Hay-areas of grasses, legumes, or grass-legume mixtures planted for livestock grazing or the production of seed or hay crops, typically on a perennial cycle. Pasture/hay vegetation accounts for greater than 20% of total vegetation. <br>

82: Cultivated Crops -areas used for the production of annual crops, such as corn, soybeans, vegetables, tobacco, and cotton, and also perennial woody crops such as orchards and vineyards. Crop vegetation accounts for greater than 20% of total vegetation. This class also includes all land being actively tilled. <br>

90: Woody Wetlands- areas where forest or shrubland vegetation accounts for greater than 20% of vegetative cover and the soil or substrate is periodically saturated with or covered with water. <br>

95: Emergent Herbaceous Wetlands- Areas where perennial herbaceous vegetation accounts for greater than 80% of vegetative cover and the soil or substrate is periodically saturated with or covered with water. <br>

### Data Cleaning

Clean Zonal Histogram Data

In [6]:
filepath = os.sep.join([datadir, 'CH4_Emitters_land_use_histo.geojson'])

In [12]:
#Import CH4 emitter data with zonal histogram
ch4_zonal_hist = gpd.read_file(filepath)

In [13]:
ch4_zonal_hist.head()

,City,Latitude,Longitude,Source,State,Vista_Date,Vista_IPCC,Vista_Name,Vista_SType,Vista_ID,...,HISTO_41,HISTO_42,HISTO_43,HISTO_52,HISTO_71,HISTO_81,HISTO_82,HISTO_90,HISTO_95,geometry
0,Oakdale,37.72799,-120.89865,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"3D Ag, LLC",Composting Sites,CMP000001,...,0,0,0,0,7802,21666,175939,1356,656,"POLYGON ((-120.90558 37.82784, -120.89172 37.8..."
1,Lake Elsinore,33.70999,-117.32864,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"A. Lua Recycling, Inc.",Composting Sites,CMP000002,...,9,517,774,102301,77494,782,586,513,328,"POLYGON ((-117.33593 33.80981, -117.32135 33.8..."
2,Martinez,38.01667,-122.13333,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Acme Composting Compost Facility,Composting Sites,CMP000003,...,31,2864,36571,34232,45775,0,755,310,17967,"POLYGON ((-122.14023 38.11652, -122.12643 38.1..."
3,Los Angeles (City),34.03281,-118.35424,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Adams Garden Supply,Composting Sites,CMP000004,...,0,240,700,9751,614,1706,496,12,116,"POLYGON ((-118.36150 34.13264, -118.34698 34.1..."
4,Hesperia,34.44517,-117.29007,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Advance Disposal Center for the Environm,Composting Sites,CMP000005,...,4,0,1,123293,5467,0,112,2057,431,"POLYGON ((-117.29730 34.54500, -117.28284 34.5..."

In [14]:
ch4_zonal_hist.columns

Index(['City', 'Latitude', 'Longitude', 'Source', 'State', 'Vista_Date',
       'Vista_IPCC', 'Vista_Name', 'Vista_SType', 'Vista_ID',
       'TROPOMI_CH4_Min', 'TROPOMI_CH4_Max', 'TROPOMI_CH4_Mean',
       'TROPOMI_CH4_Count', 'TROPOMI_CH4_MEDIAN', 'County', 'HISTO_0',
       'HISTO_11', 'HISTO_12', 'HISTO_21', 'HISTO_22', 'HISTO_23', 'HISTO_24',
       'HISTO_31', 'HISTO_41', 'HISTO_42', 'HISTO_43', 'HISTO_52', 'HISTO_71',
       'HISTO_81', 'HISTO_82', 'HISTO_90', 'HISTO_95', 'geometry'],
      dtype='object')

In [26]:
#Not sure what category 0 means. 
ch4_zonal_hist['HISTO_0']

0         0
1         0
2         0
3         0
4         0
         ..
234571    0
234572    0
234573    0
234574    0
234575    0
Name: HISTO_0, Length: 234576, dtype: int64

In [34]:
ch4_zonal_hist.iloc[:, 16:33]

,HISTO_0,HISTO_11,HISTO_12,HISTO_21,HISTO_22,HISTO_23,HISTO_24,HISTO_31,HISTO_41,HISTO_42,HISTO_43,HISTO_52,HISTO_71,HISTO_81,HISTO_82,HISTO_90,HISTO_95
0,0,852,0,14736,16743,29090,6216,741,0,0,0,0,7802,21666,175939,1356,656
1,0,10457,0,36144,26008,17578,1747,693,9,517,774,102301,77494,782,586,513,328
2,0,40679,0,26978,30246,29088,10128,192,31,2864,36571,34232,45775,0,755,310,17967
3,0,386,0,21384,39360,131085,69847,170,0,240,700,9751,614,1706,496,12,116
4,0,860,0,38811,72054,26138,4752,1876,4,0,1,123293,5467,0,112,2057,431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234571,0,1192,0,21544,47528,132989,51243,917,0,980,1562,17373,2496,2608,2233,362,935
234572,0,294,0,39151,71695,97908,9263,3391,0,19,39,33401,27490,2748,297,434,1765
234573,0,288,0,36825,69347,93877,9915,3395,0,26,50,40300,31931,1773,253,263,1021
234574,0,151,0,34609,32415,16595,1000,2547,7,816,475,119624,66686,6264,12614,598,387
234575,0,1749,0,32234,46421,117919,29054,296,0,60,130,55458,7357,243,79,1095,867

In [39]:
#Create a row that contains the total pixel count in each polygon. We can use this to calculate the proportion 
#of pixels that are each land use category. 
ch4_zonal_hist['TOTAL'] = ch4_zonal_hist.iloc[:, 16:33].sum(axis = 1)

In [41]:
ch4_zonal_hist.iloc[:, 16:35].head()

,HISTO_0,HISTO_11,HISTO_12,HISTO_21,HISTO_22,HISTO_23,HISTO_24,HISTO_31,HISTO_41,HISTO_42,HISTO_43,HISTO_52,HISTO_71,HISTO_81,HISTO_82,HISTO_90,HISTO_95,geometry,TOTAL
0,0,852,0,14736,16743,29090,6216,741,0,0,0,0,7802,21666,175939,1356,656,"POLYGON ((-120.90558 37.82784, -120.89172 37.8...",275797
1,0,10457,0,36144,26008,17578,1747,693,9,517,774,102301,77494,782,586,513,328,"POLYGON ((-117.33593 33.80981, -117.32135 33.8...",275931
2,0,40679,0,26978,30246,29088,10128,192,31,2864,36571,34232,45775,0,755,310,17967,"POLYGON ((-122.14023 38.11652, -122.12643 38.1...",275816
3,0,386,0,21384,39360,131085,69847,170,0,240,700,9751,614,1706,496,12,116,"POLYGON ((-118.36150 34.13264, -118.34698 34.1...",275867
4,0,860,0,38811,72054,26138,4752,1876,4,0,1,123293,5467,0,112,2057,431,"POLYGON ((-117.29730 34.54500, -117.28284 34.5...",275856

In [45]:
#Create column that shows each land cover class as a percentage of the total, rather than a total count
ch4_zonal_hist['class_0_perc'] = ch4_zonal_hist.loc[:, 'HISTO_0']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['open_water_perc'] = ch4_zonal_hist.loc[:, 'HISTO_11']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['ice_snow_perc'] = ch4_zonal_hist.loc[:, 'HISTO_12']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['developed_open_space_perc'] = ch4_zonal_hist.loc[:, 'HISTO_21']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['developed_low_int_perc'] = ch4_zonal_hist.loc[:, 'HISTO_22']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['developed_med_int_perc'] = ch4_zonal_hist.loc[:, 'HISTO_23']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['developed_high_int_perc'] = ch4_zonal_hist.loc[:, 'HISTO_24']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['barren_land_perc'] = ch4_zonal_hist.loc[:, 'HISTO_31']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['deciduous_forest_perc'] = ch4_zonal_hist.loc[:, 'HISTO_41']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['evergreen_forest_perc'] = ch4_zonal_hist.loc[:, 'HISTO_42']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['mixed_forest_perc'] = ch4_zonal_hist.loc[:, 'HISTO_43']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['shrub_scrub_perc'] = ch4_zonal_hist.loc[:, 'HISTO_52']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['grassland_herbaceous_perc'] = ch4_zonal_hist.loc[:, 'HISTO_71']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['pasture_hay_perc'] = ch4_zonal_hist.loc[:, 'HISTO_81']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['cultivated_crops_perc'] = ch4_zonal_hist.loc[:, 'HISTO_82']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['woody_wetlands_perc'] = ch4_zonal_hist.loc[:, 'HISTO_90']/ch4_zonal_hist.loc[:, 'TOTAL']
ch4_zonal_hist['emergent_herbaceous_wetlands_perc'] = ch4_zonal_hist.loc[:, 'HISTO_95']/ch4_zonal_hist.loc[:, 'TOTAL']

In [50]:
#Check
ch4_zonal_hist.head()

,City,Latitude,Longitude,Source,State,Vista_Date,Vista_IPCC,Vista_Name,Vista_SType,Vista_ID,...,barren_land_perc,deciduous_forest_perc,evergreen_forest_perc,mixed_forest_perc,shrub_scrub_perc,grassland_herbaceous_perc,pasture_hay_perc,cultivated_crops_perc,woody_wetlands_perc,emergent_herbaceous_wetlands_perc
0,Oakdale,37.72799,-120.89865,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"3D Ag, LLC",Composting Sites,CMP000001,...,0.002687,0.000000,0.000000,0.000000,0.000000,0.028289,0.078558,0.637929,0.004917,0.002379
1,Lake Elsinore,33.70999,-117.32864,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"A. Lua Recycling, Inc.",Composting Sites,CMP000002,...,0.002511,0.000033,0.001874,0.002805,0.370748,0.280846,0.002834,0.002124,0.001859,0.001189
2,Martinez,38.01667,-122.13333,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Acme Composting Compost Facility,Composting Sites,CMP000003,...,0.000696,0.000112,0.010384,0.132592,0.124112,0.165962,0.000000,0.002737,0.001124,0.065141
3,Los Angeles (City),34.03281,-118.35424,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Adams Garden Supply,Composting Sites,CMP000004,...,0.000616,0.000000,0.000870,0.002537,0.035347,0.002226,0.006184,0.001798,0.000043,0.000420
4,Hesperia,34.44517,-117.29007,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Advance Disposal Center for the Environm,Composting Sites,CMP000005,...,0.006801,0.000015,0.000000,0.000004,0.446947,0.019818,0.000000,0.000406,0.007457,0.001562

In [60]:
#Check that percentages were calculated correctly:
print(np.sum(ch4_zonal_hist.iloc[588, 36:52]))
print(np.sum(ch4_zonal_hist.iloc[572, 36:52]))
print(np.sum(ch4_zonal_hist.iloc[0, 36:52]))
print(np.sum(ch4_zonal_hist.iloc[200000, 36:52]))

1.0
0.9999999999999999
1.0
1.0

In [64]:
#Drop unnecessary columns
ch4_zonal_hist.drop(columns = ['HISTO_0', 'HISTO_11', 'HISTO_12', 'HISTO_21', 'HISTO_22', 'HISTO_23', 
                             'HISTO_24', 'HISTO_31', 'HISTO_41', 'HISTO_42', 'HISTO_43', 'HISTO_52',
                             'HISTO_71', 'HISTO_81', 'HISTO_82', 'HISTO_90', 'HISTO_95', 'TOTAL'], inplace = True)

Clean Zonal Statistics data.

In [69]:
filepath1 = os.sep.join([datadir, 'CH4_Emitters_land_use_majority.geojson'])

In [70]:
ch4_zonal_stats = gpd.read_file(filepath1)

In [71]:
ch4_zonal_stats.head()

,City,Latitude,Longitude,Source,State,Vista_Date,Vista_IPCC,Vista_Name,Vista_SType,Vista_ID,TROPOMI_CH4_Min,TROPOMI_CH4_Max,TROPOMI_CH4_Mean,TROPOMI_CH4_Count,TROPOMI_CH4_MEDIAN,County,ZS_sum,ZS_majority,geometry
0,Oakdale,37.72799,-120.89865,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"3D Ag, LLC",Composting Sites,CMP000001,1866.219667,1869.152088,1867.685878,2,1867.685878,None,18448645.0,82.0,"POLYGON ((-120.90558 37.82784, -120.89172 37.8..."
1,Lake Elsinore,33.70999,-117.32864,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,"A. Lua Recycling, Inc.",Composting Sites,CMP000002,1875.187369,1880.163061,1877.675215,2,1877.675215,None,12979747.0,52.0,"POLYGON ((-117.33593 33.80981, -117.32135 33.8..."
2,Martinez,38.01667,-122.13333,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Acme Composting Compost Facility,Composting Sites,CMP000003,1842.263902,1845.817238,1844.040570,2,1844.040570,None,11118343.0,71.0,"POLYGON ((-122.14023 38.11652, -122.12643 38.1..."
3,Los Angeles (City),34.03281,-118.35424,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Adams Garden Supply,Composting Sites,CMP000004,1854.870680,1895.935669,1880.347071,3,1890.234865,None,6797567.0,23.0,"POLYGON ((-118.36150 34.13264, -118.34698 34.1..."
4,Hesperia,34.44517,-117.29007,CalRecycle,CA,2019-08-20,4B Biological Treatment of Solid Waste,Advance Disposal Center for the Environm,Composting Sites,CMP000005,1867.374578,1868.685923,1868.030250,2,1868.030250,None,10217916.0,52.0,"POLYGON ((-117.29730 34.54500, -117.28284 34.5..."

In [72]:
#Drop unnecessary column
ch4_zonal_stats.drop(columns = 'ZS_sum', inplace = True)

In [73]:
#Get dummy for Land Use Majority
majority_dummies = pd.get_dummies(ch4_zonal_stats['ZS_majority'])

In [74]:
majority_dummies

,0.0,11.0,21.0,22.0,23.0,31.0,42.0,43.0,52.0,71.0,81.0,82.0,95.0
0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
234571,0,0,0,0,1,0,0,0,0,0,0,0,0
234572,0,0,0,0,1,0,0,0,0,0,0,0,0
234573,0,0,0,0,1,0,0,0,0,0,0,0,0
234574,0,0,0,0,0,0,0,0,1,0,0,0,0
234575,0,0,0,0,1,0,0,0,0,0,0,0,0

In [78]:
#Rename columns
majority_dummies.rename(columns = {0.0: 'class_0_majority', 
                                  11.0: 'open_water_majority', 
                                  21.0: 'developed_open_space_majority', 
                                  22.0: 'developed_low_int_majority', 
                                  23.0: 'developed_med_int_majority', 
                                  31.0: 'barren_land_majority', 
                                  42.0: 'evergeen_forest_majority', 
                                  43.0: 'mixed_forest_majority', 
                                  52.0: 'shrub_scrub_majority', 
                                  71.0: 'grassland_herbaceous_majority',
                                  81.0: 'pasture_hay_majority', 
                                  82.0: 'cultivated_crops_majority', 
                                  95.0: 'emergent_herbaceous_wetlands_majority'}, inplace = True)

In [79]:
#Check dataframe
majority_dummies.head()

,class_0_majority,open_water_majority,developed_open_space_majority,developed_low_int_majority,developed_med_int_majority,barren_land_majority,evergeen_forest_majority,mixed_forest_majority,shrub_scrub_majority,grassland_herbaceous_majority,pasture_hay_majority,cultivated_crops_majority,emergent_herbaceous_wetlands_majority
0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,0,0,0
3,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,0,0,0

In [80]:
#Check length
len(majority_dummies) == len(ch4_zonal_stats)

True

In [81]:
#Create dummies for emitter type
type_dummies = pd.get_dummies(ch4_zonal_stats['Vista_SType'])

In [83]:
type_dummies.head()

,Composting Sites,Compressed Natural Gas Fueling Station,Dairy,Digester,Feed Lot,Landfill,Liquefied Natural Gas Fueling Station,Natural Gas Processing Plants,Natural Gas Station,Natural Gas Storage Field,Oil and Gas Facility Boundary,Oil and Gas Field Boundary,Oil and Gas Well,Power Plant,Refinery,Wastewater Treatment Plant
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

Merge dummy dataframes with `ch4_zonal_hist` geodataframe.

In [85]:
ch4_emitters_final = pd.concat([ch4_zonal_hist, majority_dummies, type_dummies], axis = 1)

In [87]:
#Check the merge
ch4_emitters_final.columns

Index(['City', 'Latitude', 'Longitude', 'Source', 'State', 'Vista_Date',
       'Vista_IPCC', 'Vista_Name', 'Vista_SType', 'Vista_ID',
       'TROPOMI_CH4_Min', 'TROPOMI_CH4_Max', 'TROPOMI_CH4_Mean',
       'TROPOMI_CH4_Count', 'TROPOMI_CH4_MEDIAN', 'County', 'geometry',
       'class_0_perc', 'open_water_perc', 'ice_snow_perc',
       'developed_open_space_perc', 'developed_low_int_perc',
       'developed_med_int_perc', 'developed_high_int_perc', 'barren_land_perc',
       'deciduous_forest_perc', 'evergreen_forest_perc', 'mixed_forest_perc',
       'shrub_scrub_perc', 'grassland_herbaceous_perc', 'pasture_hay_perc',
       'cultivated_crops_perc', 'woody_wetlands_perc',
       'emergent_herbaceous_wetlands_perc', 'class_0_majority',
       'open_water_majority', 'developed_open_space_majority',
       'developed_low_int_majority', 'developed_med_int_majority',
       'barren_land_majority', 'evergeen_forest_majority',
       'mixed_forest_majority', 'shrub_scrub_majority',
       'grassland_herbaceous_majority', 'pasture_hay_majority',
       'cultivated_crops_majority', 'emergent_herbaceous_wetlands_majority',
       'Composting Sites', 'Compressed Natural Gas Fueling Station', 'Dairy',
       'Digester', 'Feed Lot', 'Landfill',
       'Liquefied Natural Gas Fueling Station',
       'Natural Gas Processing Plants', 'Natural Gas Station',
       'Natural Gas Storage Field', 'Oil and Gas Facility Boundary',
       'Oil and Gas Field Boundary', 'Oil and Gas Well', 'Power Plant',
       'Refinery', 'Wastewater Treatment Plant'],
      dtype='object')

In [88]:
#Check length
len(ch4_emitters_final) == len(ch4_zonal_stats)

True

In [90]:
type(ch4_emitters_final)

geopandas.geodataframe.GeoDataFrame

Done!! Write file.

In [91]:
ch4_emitters_final.to_file('Data/CH4_Emitters_All_LU_EmitterType.geojson', driver = 'GeoJSON')